body.resv2-standard {
    font-size:14px;
    line-height: 1.4;
}
body.resv2-standard .menu-sidebar{
    width : 250px;
}
body.resv2-standard .menu-sidebar .logo{
    height : 65px;
    padding : 0 15px;
}

body.resv2-standard nav.navbar-sidebar{
    padding : 15px;
}

body.resv2-standard nav.navbar-sidebar .navbar__list li a{
    font-size:15px;
    padding: 12px 3px 12px 3px;
}

body.resv2-standard .header-desktop{
    height:65px;
}

body.resv2-standard .page-container {
    padding-left: 220px;
}

@media (max-width: 991px) {
    body.resv2-standard .page-container {
        position: relative;
        top: 88px;
        padding-left: 0;
    }
}

body.resv2-standard .header-desktop{
    left : 250px;
}

@media (max-width: 991px) {
    body.resv2-standard .header-desktop {
        position: relative;
        top: 0;
        left: 0;
        height: 65px;
    }

    body.reseller-page .header-desktop {
        height: 100px;
    }
}

body.resv2-standard .main-content{
    padding-top : 75px;
}

@media (max-width: 991px) {
    body.resv2-standard .main-content{
        padding-top : 20px;
    }
}

body.resv2-standard .section__content--p30{
    padding: 0 0 0 0;
    padding-left:25px;
}

@media (max-width: 991px) {
    body.resv2-standard .section__content--p30 {
        padding: 0;
    }
}

body.resv2-standard .au-card{
    padding:20px;
}

body.resv2-standard table.table th{
    background: #4d4d4d;
    color:#FFF;
}

body.resv2-standard nav.navbar-sidebar .navbar__list li a i.arrow{
    float:right;
}